/* Write your code here. */
.bg-color {
  background-color: #0f172a;
  padding: 20px;
}
.heading {
  font-family: "Roboto";
  color: white;
  text-align: center;
}
.img-container {
  display: flex;
  justify-content: center;
}
.image {
  height: 30vh;
  width: 30vh;
}
